{% extends "base.html" %}

{% block title %}Welcome -- jondowns.net{% endblock %}
{% block header %}

<h1>Welcome!</h1>
<div class="about-me-container">
  <div class="profile-photo-container">
    <img class="profile-photo" src="../assets/images/headshot2020.webp"
      alt="Profile Picture" />
  </div>
  <div class="about-me">

    <p>
      I am an epidemiologist with 10 years' experience in the public sector.
      Currently, I work in vital records for state government.
      I have a passion for computer programming as a tool to advance public health.
      My specialties include task automation, regression modeling, machine learning, and performance optimization.
      I also co-facilitate a monthly meeting for other epidemiologists at my agency where
      we discuss topics in coding.
      I use this website to host some of my thoughts on coding and various personal projects.
      Below, you will find some of my most recent blog posts.
      Please <a href="mailto:jon@jondowns.net">contact me</a> if you have questions about my 
        posts or wish to hear more about my current work.
    </p>

    <p>
      Outside of work, I enjoy spending time with my family, chess, strategy games, 
        and getting outside with my dog (Goose). 
      I am an avid learner who enjoys trying new things and learning skills to make the hard things in life a little easier.
    </p>

  </div>
</div>

{% endblock %}

{% block body %}

<div class="flex-column justify-between">
  <h1>Recent Posts</h1>
  {% for post in posts.iter().rev() %}
  <div class="py-1">
    <div style="background-color: #f5f2f0;" class="rounded-lg py-0.5 px-2 flex items-center">
      <div class="pr-5">
        <img src="{{ post.post_thumbnail }}" alt="{{ post.post_thumbnail_alt }}" class="post-thumbnail"></img>
      </div>
      <div class="align-right inline-block">
        <div>
          <a class="text-sky-800" href="./posts/{{ post.post_id }}">
            <h2>{{ post.post_title }}</h2>
          </a>
        </div>
        <div>
          <p class="italic">by Jon Downs on {{ post.post_date }}<p>
        </div>
        <div>
          <p>{{ post.post_summary }}</p>
        </div>
      </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
